/* shopping-list.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #ff1493; /* Розовый цвет */
    text-align: center;
    margin-top: 40px;
}

.shopping-form {
    margin-top: 30px; /* Добавим отступ между заголовком и полем ввода */
    text-align: center; /* Выравниваем по центру */
}

.shopping-form input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
    max-width: 400px;
    margin-bottom: 20px; /* Отступ снизу */
}

.add-button {
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.add-button:hover {
    background-color: #0056b3;
    transform: translateY(-5px); /* Эффект поднятия */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-button:active {
    transform: translateY(1px); /* Эффект при нажатии */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shopping-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; /* Центрируем список */
}

.shopping-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1; /* Начальная прозрачность */
    transition: opacity 0.5s ease-out;
}

.shopping-item.done {
    opacity: 0; /* Убираем элемент из виду */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: scale(0.9); /* Элемент будет уменьшаться при исчезновении */
}

.shopping-item button {
    padding: 6px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.shopping-item button:hover {
    background-color: #218838;
}

.shopping-item button:active {
    background-color: #1e7e34;
}

.back-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.back-button:hover {
    background-color: #5a6268;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.back-button:active {
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
